h2, h3 {
    margin: 10px;
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#features {
    top: 20px;
    left: 20px;
    height: 150px;
    width: 300px;
}

body.choropleth #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 220px;
    margin-bottom: 40px;
    width: 150px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

body.proportional #legend {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 150px;
    background: #fff;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.break {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.dot {
    display: inline-block;
    margin-top: 5px;
    border-radius: 50%;
    opacity: 0.6;
}

.dot-label {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
}

a {
    color: black
}

